.text {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

    border: 2px outset #A41E5B;

}

.inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    align-self: center;
}

.buttons {
    color: rgb(250, 255, 255); 
    font-size: 16px; 
    line-height: 16px; 
    padding: 6px; 
    border-radius: 10px; 
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant-ligatures: normal; 
    font-variant-caps: normal; 
    font-variant-east-asian: normal; 
    font-variant-position: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
    border: 6px double rgb(164, 30, 91); 
    display: inline-block;
}

.buttons:hover {
    background: #1C6EA4; 
}

.buttons:active {
    background: #144E75; 
}

body {
    max-width: 240ch;
    min-width: 50ch;
    align-items: left;
    background: linear-gradient(to right, #1C6EA4 0%, #2388CB 50%, #144E75 100%);

}
